/**!
 * @package   MoonZaphire
 * @filename  styles/custom.css
 * @version   1.0
 * @autor     Díaz Urbaneja Víctor Eduardo Diex <victor.vector008@gmail.com>
 * @date      03.02.2021 15:56:32 -04
 */

/* =============================================== */
/* = Variables = */
/* =============================================== */

@define-color bg-light #F8F8F8;
@define-color bg-white #FFFFFF;
@define-color bg-black-opacity rgba(0, 0, 0, 0.5);
@define-color bg-white-opacity rgba(255, 255, 255, 0.5);

@define-color icon-color #4D4D4D;
@define-color color-white #F1F1F1;
@define-color color-black #1A1A1A;
@define-color color-grey #BDBDBD;
@define-color color-green #2FC62F;
@define-color color-blue #1E90FF;

/* =============================================== */
/* = Global = */
/* =============================================== */

window.light-mode {
	background: @bg-light;
}
* {
	font-family: 'Open Sans', 'Roboto';
}
separator {
	background-image: image(@color-grey);
}
scrolledwindow {
    border: none;
}
.m-a-10 {
	margin: 10px;
}
image.icon {
	color: @icon-color;
	-gtk-icon-shadow: none;
}

/* =============================================== */
/* = Main = */
/* =============================================== */

window.light-mode .main {}

/* =============================================== */
/* = Alert Dialog = */
/* =============================================== */

box.moon-zaphire.alert-dialog {
	color: @color-white;
	background-color: @bg-black-opacity;
	transition: background .2s ease-out;
}
box.moon-zaphire.alert-dialog > label.title {
	font-size: 30px;
}
box.moon-zaphire.alert-dialog > label.subtitle {
	font-size: 15px;
}
box.moon-zaphire.alert-dialog > label.message {
}

/* =============================================== */
/* = List = */
/* =============================================== */

list.moon-zaphire.list {
	background: transparent;
}
list.moon-zaphire.list box.content {
	padding-left: 10px;
	padding-right: 10px;
}
list.moon-zaphire.list image.avatar {
/*
	color: @color-black;
*/
}
list.moon-zaphire.list label.title {
	font-weight: bold;
}
list.moon-zaphire.list label.subtitle {
	font-weight: 400;
}
list.moon-zaphire.list label.text {
	color: @color-grey;
}
list.moon-zaphire.list image.online {
	color: @color-blue;
}

/* =============================================== */
/* = Card = */
/* - The configuration module uses these styles - */
/* =============================================== */

box.moon-zaphire .card {
	border-radius: 3px;
	background-color: #FFFFFF;
}
box.moon-zaphire .card box.header {
	color: @color-black;
	padding: 10px;
}
box.moon-zaphire .card box.header label.title {
	font-size: 20px;
	font-weight: bold;
}
box.moon-zaphire .card entry.textfield {
	margin: 10px;
}
box.moon-zaphire .card box.head {
	color: @color-black;
	padding: 20px 10px;
}
box.moon-zaphire .card box.head label.title {
	font-weight: bold;
}
box.moon-zaphire .card box.head label.subtitle {
	font-weight: 400;
}
box.moon-zaphire .card box.foot {
	color: @color-black;
	padding: 10px;
}
box.moon-zaphire .card box.foot label.title {
	font-weight: bold;
}

/* =============================================== */
/* = Chat List = */
/* - The Chat List (shortcuts to chat) - */
/* =============================================== */

window.light-mode .main box.drawer-left box.head {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
window.light-mode .main box.drawer-left entry.textfield {
	margin-left: 10px;
	margin-right: 10px;
}
window.light-mode .main box.drawer-left separator {
	background: transparent;
	background-image: image(transparent);
}

/* =============================================== */
/* = Chat View = */
/* - The chat container - */
/* =============================================== */

window.light-mode .main stack.content {}
window.light-mode .main stack.content box.toolbar box.header {
	margin-top: 10px;
	padding-left: 10px;
}
window.light-mode .main stack.content box.toolbar box.header label.title {
	font-weight: bold;
	font-size: 20px;
}
window.light-mode .main stack.content box.toolbar separator {}
window.light-mode .main stack.content box.chat-view {}

/* =============================================== */
/* = Shipping box = */
/* - Actions for sending a message (input and buttons) - */
/* =============================================== */

window.light-mode .main stack.content box.chat-view box.foot {
	border-top: 1px solid @color-grey;
	background: #FFFFFF;
}
window.light-mode .main stack.content box.chat-view box.foot scrolledwindow {}
window.light-mode .main stack.content box.chat-view box.foot scrolledwindow textview {
	padding-top: 10px;
	padding-bottom: 10px;
	background: @bg-white;
}
window.light-mode .main stack.content box.chat-view box.foot button {
	border-radius: 0px;
	padding: 10px 15px;
	background: @bg-white;
    box-shadow: none;
    border-color: transparent;
}
window.light-mode .main stack.content box.chat-view box.foot button:active {
	background: @color-blue;
}
window.light-mode .main stack.content box.chat-view box.foot button:active image {
	color: @color-white;
}
window.light-mode .main stack.content box.chat-view box.foot button image {
	-gtk-icon-shadow: none;
    color: @icon-color;
}

/* =============================================== */
/* = Messages = */
/* - Messages that are sent and received - */
/* =============================================== */

window.light-mode box.my-message {
	background-color: #1E90FF;
	padding: 10px 15px;
	border-radius: 20px;
}
window.light-mode box.message-for-me {
	background-color: @color-grey;
	padding: 10px 15px;
	border-radius: 20px;
}
window.light-mode box.my-message label {
	color: @color-black;
}
window.light-mode box.message-for-me label {
	color: @color-white;
}

/* =============================================== */
/* = Chat Details = */
/* - The information bar (where I show the group or contact information) - */
/* =============================================== */

window.light-mode .main stack.content revealer > box.chat-details {
	border-left: 1px solid @color-grey;
}
window.light-mode box.chat-details {
	background: transparent;
}
window.light-mode box.chat-details box.head {
	margin-top: 50px;
}
window.light-mode box.chat-details box.head image.avatar {}
window.light-mode box.chat-details box.head box.info label.title {
	font-weight: bold;
}
window.light-mode box.chat-details box.head box.info label.subtitle {
	color: @color-grey;
	text-decoration: underline;
}
window.light-mode box.chat-details box.content {
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	margin-top: 20px;
	margin-top: 20px;
}
window.light-mode box.chat-details list.actions {
	background: transparent;
}
window.light-mode box.chat-details list.actions row.action {
	padding: 10px;
}
window.light-mode box.chat-details list.actions row.action box image {
	padding-left: 10px;
}
window.light-mode box.chat-details list.actions row.action box label {
}
window.light-mode box.chat-details box.foot {
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	margin-top: 20px;
}
